@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-serif), ui-serif, Georgia, serif;

  --color-primary: #000000;
  --color-secondary: #FFFFFF;
  --color-neutral: #F5F5F5;
  --color-border: #E5E5E5;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
